@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 350px;
  color: var(--color-text);
}

.image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  justify-content: center;
}

.skill {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 20px;
  background: var(--color-dark);
  color: var(--color-light);
}

.links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  background: var(--color-primary);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.link:hover {
  background-color: #445a9c; /* Couleur sur hover */
}

/* Badge pour le type de démo */
.demo-badge {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.demo-download {
  background-color: #4CAF50; /* Vert */
}

.demo-qr {
  background-color: #FF5722; /* Orange */
}

/* QR Code */
.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.qr-code {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.qr-text {
  font-size: 14px;
  margin-top: 10px;
  color: var(--color-light);
  text-align: center;
}